* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* To Box Model */
}

/* Global Style */
body {
    font-family: "Merriweather", sans-serif;
    background-color: #ebf2ff;
}

.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    cursor: pointer;
}

.hero__container {
    width: 100%;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
}

.hero__text {
    font-size: 30px;
    color: #1d3557;
    margin: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    box-shadow: 10px 5px 5px rgb(175, 175, 175);
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

/* Menu Styles*/

.food__menu__card {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food__menu__card__description{
    padding: 20px;
}

@media (min-width: 768px){
    .navbar {
        justify-content: space-between;
        padding: 10px 20px;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 12px 20px;
        font-size: 20px;
    }
    .hero__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}

@media (min-width: 1020px){
    .hero__image__container {
        width: 100%;
        
    }
    .hero__text{
        font-size: 50px;
    }
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1400px){
    .container {
        max-width: 1250px;
    }
}