* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To Box Model */
}

/* Global Style */
body {
  font-family: "Merriweather", sans-serif;
  background-color: #ebf2ff;
}

.button__primary {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  cursor: pointer;
}

.hero__container {
  width: 100%;
  margin-top: 40px;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
}

.hero__text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  box-shadow: 10px 5px 5px rgb(175, 175, 175);
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

/* Menu Styles*/
.explore__menu__container {
  margin-top: 50px;
}

.explore__menu__text {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}

.food__menu__card {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.food__image {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.food__menu__card__description {
  padding: 20px;
}

.explore__menu__view__more {
  display: flex;
  justify-content: center;
}

/* Flex*/
.restaurants__description {
  font-size: 30px;
  color: #1d3557;
  margin: 20px 0;
  text-align: center;
}

.restaurants__flex__row__one,
.restaurants__flex__row__two {
  width: 100%;
  display: flex;
  gap: 4px;
}

.restaurants__flex__row__one {
  align-items: baseline;
  margin-bottom: 10px;
}

.restaurant__1,
.restaurant__4 {
  width: 100%;
  height: 150px;
}

.restaurant__1__image,
.restaurant__2__image,
.restaurant__3__image,
.restaurant__4__image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.restaurant__2,
.restaurant__3 {
  width: 120%;
  height: 170px;
}

/* Update Button*/
.update__box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.update__heading {
  margin: 50px 0px;
}

.heading {
  font-size: 30px;
  color: #1d3557;
  margin-bottom: 4px;
}

.email {
  font-size: 14px;
  width: 65%;
  height: 45%;
  padding-right: 25px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid rgb(235, 134, 134);
}

.food__quote__image {
  width: 100%;
  z-index: -20;
  opacity: 0.86;
  box-shadow: 0 6px 28px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
  height: 200px;
  border-radius: 10px 10px 30px 39px;
}

.food__quote__box {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  position: absolute;
  color: rgb(252, 245, 245);
  text-align: center;
  top: 45%;
  padding: 0 10px;
}

.quote__box {
  position: relative;
}

/* Footer*/

.footer__container {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  margin-top: 50px;
  height: 190px;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.zomato__logo {
  font-size: 40px;
  font-weight: 850;
  color: #fff;
  font-style: italic;
  margin-bottom: 10px;
}

.zomato__info__more {
  padding-left: 15px;
}

.zomato__info__more__lists {
  list-style-type: none;
  color: #fff;
  font-size: 17px;
}

/* Responsive*/

@media (min-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 10px 20px;
  }
  .navbar__brand {
    width: 150px;
  }
  .button__primary {
    padding: 12px 20px;
    font-size: 20px;
  }
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .explore__menu__lists {
    display: flex;
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 6px;
    gap: 10px;
  }
  .explore__menu__container {
    position: relative;
  }
  .explore__menu__gradient__bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
    transform: skewY(-5deg);
  }
  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .restaurants__description {
    font-size: 42px;
    width: 100%;
  }
  .restaurants__container {
    display: flex;
    align-items: center;
  }
  .restaurants__flex {
    width: 100%;
  }
  .heading {
    font-size: 35px;
    color: #1d3557;
    margin-bottom: 6px;
  }
  .update__heading {
    width: 60%;
    margin: 80px;
  }
  .email {
    font-size: 18px;
    width: 60%;
    height: 47%;
  }
  .food__quote__image {
    height: 300px;
    box-shadow: none;
    border-radius: 10px 10px 30px 39px;
  }
  .food__quote__box {
    font-size: 35px;
    color: white;
    top: 40%;
    font-weight: 500;
  }
  .quote__box {
    margin: 0 50px;
  }
  .footer__container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    height: 170px;
  }
  .zomato__logo {
    font-size: 50px;
    margin-top: 15px;
  }
}

@media (min-width: 1020px) {
  .hero__image__container {
    width: 100%;
  }
  .hero__text {
    font-size: 50px;
  }
  .container {
    max-width: 900px;
  }
  .explore__menu__lists {
    gap: 20px;
    padding: 0 20px;
  }
  .explore__menu__text {
    font-size: 50px;
  }
  .restaurants__container {
    margin-top: 30px;
  }
  .restaurants__description {
    font-size: 48px;
    width: 100%;
  }
  .restaurants__flex {
    width: 90%;
  }
  .restaurant__1__image,
  .restaurant__2__image,
  .restaurant__3__image,
  .restaurant__4__image {
    width: 100%;
    height: 110%;
    border-radius: 6px;
  }
  .heading {
    font-size: 40px;
    color: #1d3557;
    margin-bottom: 4px;
  }
  .update__heading {
    width: 50%;
    margin: 150px;
  }
  .email {
    font-size: 18px;
    width: 70%;
    height: 45%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}
